h1{
	color: #7170FF;
	font-family: CURSIVE;
	text-align: center;
}

.hd {
	color: #7170FF;
	font-family: CURSIVE;
	text-align: center;	
}

.ft {
	color: #7170FF;
	font-family: CURSIVE;
	text-align: center;	
}